@use 'base';
@use 'glow';

* {
    margin: 0px;
    padding: 0px;
}

body {
  background-color: #232323;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  min-height: 100vh;
  
}

a {
    text-decoration: none;
    color: black;
}



#aboutme {
    padding-top: 30vh;
    text-align: center;
    z-index: 2;

    h2 {
      font-size: 2.5rem;
      color: #f0a500;
      margin-bottom: 20px;
    }

    p {
      font-size: 1.2rem;
      line-height: 1.6;
      max-width: 800px;
      margin: 0 auto 30px;
      color: white;
    }

    .social-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
      max-width: 600px;
      margin: 0 auto;

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        color: white;
        font-weight: bold;
        transition: background-color 0.3s ease, transform 0.3s ease;

        &:hover {
          transform: scale(1.4);
        }
      }
    }
}

// Responsive adjustments
@media (max-width: 768px) {
    #aboutme {
        padding-top: 20vh;

        h2 {
            font-size: 2rem;
        }

        p {
            font-size: 1rem;
            max-width: 90%;
        }

        .social-grid {
            grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
            max-width: 90%;
        }
    }
}

@media (max-width: 480px) {
    #aboutme {
        padding-top: 15vh;

        h2 {
            font-size: 1.75rem;
        }

        p {
            font-size: 0.9rem;
        }

        .social-grid {
            padding-top: 50px;
            display: flex;
            align-items: center;
            flex-direction: column;
        }
    }
}