@import url('https://fonts.googleapis.com/css2?family=Raleway:ital@0;1&family=Roboto+Slab:wght@100..900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

*{
    font-family: "Raleway", serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    height: 10vh;
    max-height: 120px;
    padding: 0 60px;
    width: 100vw;

    #guilherme {
        width: 400px;
        font-size: 1.5rem;
        font-weight: 600;
        color: white;
        text-decoration: none;
    }

    nav {
        flex: 1; 
        display: flex;
        justify-content: flex-end;  
        align-items: center;
    }

    ul {
        display: flex;
        gap: 50px;
        list-style: none;
        text-align: center;
        align-items: center;

        li a {
            color: white;
            text-decoration: none;
            font-size: 1.2rem;
        }
    }

    #menu-button{
        display: none;
        background-color: none;
        border: none;
        color: white;
        width: 60px;
    }

    @media screen and (max-width: 910px) {
        header{
            background-color: #232323;
        }
        
        

        nav {   
            ul{
                width: 100vw;
                height: 100vh;
                width: 100vw;
                height: 100vh;
                background-color: #232323;
                position: fixed;
                top: 0px;
                left: 0px;
                
                display: flex;
                flex-direction: column;
                
                
                li{
                    color: white;
                }
            }
        }
        #menu-button{
            display: block;
        }
        
    }
}