@use 'base';


body {
    background-color: #232323;
}

a {
    text-decoration: none;
    color: black;
}

#mainPhoto {
    background-image: url("../../images/homePC.png");
    width: 100vw;
    height: 100vh;
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-position: center;

    h1 {
        width: 100vw;
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

#work {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 2fr 1fr;
    gap: 1px;
    border-bottom: solid 1px #444;
    background-color: #444;
    min-height: 150vh;

    .gridElement {
        padding-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        background-color: #222;
        padding: 10vh 0px;

        p {
            font-size: 1.3rem;
            padding: 0 20px;
            color: #f0a500;
        }

        img {
            max-width: 100%;
            height: auto;
            object-fit: cover;
        }

        &:nth-child(2) {
            padding-top: 20vh;

            img {
                padding-top: 50px;
            }
        }

        &:nth-child(3) {
            padding-top: 100vh;
        }

        &:nth-child(4) {
            padding-top: 20vh;

            p {
                padding-top: 80px;
            }
        }

        &:nth-child(5) {
            padding-top: 120vh;
        }
    }
}

$overlay-opacity: 0.5;
$hover-overlay-opacity: 0.3;
$project-size: 20vw;
$font-size: 1rem;
$text-color: white;
$gap: 40px;
$border-radius: 10px;

#projects {
    text-align: center;
    padding: 20px;

    h4 {
        font-size: 2rem;
        color: #f0a500;
        font-family: "Titillium Web", serif;
        font-weight: 700;
        font-style: normal;
    }

    h2 {
        font-size: 1.2rem;
        margin-bottom: 30px;
        color: white;
    }

    > div {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: $gap;
    }

    .projectShowcase {
        position: relative;
        height: $project-size;
        width: $project-size;
        min-height: 400px;
        min-width: 400px;
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;

        // Dark overlay for the background image
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, $overlay-opacity);

        }

        // Text styling
        a {
            position: relative;
            color: $text-color;
            font-size: 2.5rem;
            text-decoration: none;
            text-align: center;
            padding: 10px;
            font-family: "Titillium Web", serif;
            font-weight: 700;
            font-style: normal;
        }

        // Hover effect for interactivity
        &:hover {
            &::before {
                background-color: rgba(0, 0, 0, $hover-overlay-opacity);
            }

            a {
                transform: scale(1.1);
                transition: transform 0.3s ease;
            }
        }
    }
}

#firstBaW {
    background-image: url("../../images/projects/firstBandW/000020900008.jpg");
}

#portoFilm {
    background-image: url("../../images/projects/portoOnFilm/IMG_0062.JPEG");
}


@media (max-width: 1024px) {
    #mainPhoto{
        background-image: url("../../images/homePhone.png");
        height: 100vh;
        h1{
            height: 40vh;
        }
    }
    
    #work {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: auto;
        background-color: transparent;
        padding: 10px;
        .gridElement:last-child {
            display: none;
        }
       

        .gridElement {
            width: 100%;
            background-color: #222;
            padding: 0; 

            * {
                margin: 0;
                padding: 0;
            }


            &:nth-child(2) {
                padding-top: 100px;

                img {
                    padding-top: 70px;
                }
            }
    
            &:nth-child(3) {
                padding-top: 0;
            }
    
            &:nth-child(4) {
                padding-top: 0px;
    
                p {
                    padding: 100px 0px 70px 0px;
                }
            }
    
            &:nth-child(5) {
                padding-top: 0;
            }

            &:last-child {
                border-bottom: none; // Remove border from the last visible item
            }
        }
    }
}
