* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: #232323;
}

a{
    text-decoration: none;
    color: black;
}

header {
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    height: 10vh;
    max-height: 80px;
    background-color: #232323;
    color: white;
    width: 100vw;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;

    #guilherme{
        padding: 10px;
        font-size: 1.3em;
    }

    a{
        color: white;

    }

    #contact{
        padding-right: 2vw;
    }

    nav {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);  
    }
    ul {
        list-style-type: none;
        display: flex;
        gap: 20px;
        padding: 10px;
    }

    .contact-link {
        color: white;
    }   
}

#mainPhoto{
    background-image: url("../../images/home.jpg");
    width: 100vw;
    height: 100vh;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#work {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 2fr 1fr;
    gap: 1px;
    border-bottom: solid 1px #444;
    
    background-color: #444;
    min-height: 150vh;

    .gridElement {
        padding-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        background-color: #222;
        padding: 10vh 0px;

        p {
            font-size: 1rem;
            color: #f0a500;
        }

        img {
            max-width: 100%;
            height: auto;
            object-fit: cover;
        }

        &:nth-child(2) {
           padding-top: 20vh;

           img{
            padding-top: 50px;
           }
        }

        &:nth-child(3) {
            padding-top: 100vh;
            
         }

        &:nth-child(4) {
            padding-top: 20vh;
            p{
                padding-top: 80px;
            }
            
        }
        &:nth-child(5) {
            padding-top: 120vh;
        }
    }
}

#projects{
    min-height: 90vh;
    padding-top: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    h4{
        color: #f0a500;
    }
    h2{
        padding-top: 10px;
        color: white;
        padding-bottom: 100px;
    }

    div{
        display: flex;
        width: 80vw;
        align-items: center;
        justify-content: center;
        gap: 2vw;
        a{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 25vw;
            width: 25vw;
        }

        #paris20{
            background-image: url('../../images/home.jpg');
            background-size: cover;
        }

        #portoFilm{
            background-image: url('../../images/home.jpg');
            background-size: cover;
        }

        #blackAndWhite{
            background-image: url('../../images/home.jpg');
            background-size: cover;
        }

    }
}




