@use 'base';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #232323;
  color: white;
  font-family: Arial, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}


// Variables
$gap: 20px;
$border-radius: 10px;

// Photos section styling
#projects {
  padding-top: 10vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    font-size: 2rem;
    font-family: "Titillium Web", serif;
    color: #f0a500;
    font-weight: 700;
    margin-bottom: 10px;
  }

  h3{
    font-size: 1.5rem;
    color: #f0a500;
    margin-bottom: 10px;
  }

  h4 {
    font-size: 1.8rem;
    margin-bottom: 30px;
    color: white;
  }

  p{
    font-size: 1.1rem;
    padding-bottom: 50px;
    width: 70vw;
  }
  
  > div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); // Flexible column size
    gap: $gap;
    grid-auto-flow: dense; // Fill gaps automatically
    padding: 0 20px;

    img {
      width: 100%; // Ensure the image takes up the full width of its container
      height: auto; // Maintain the aspect ratio
      border-radius: $border-radius;
      transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    // Landscape images span 2 columns
    .landscape {
      grid-column: span 2; // Span across 2 columns
    }

    // Portrait images stay in 1 column
    .portrait {
      grid-column: span 1; // Stay in 1 column (default)
    }
  }
}

@media (max-width: 1024px) {
  #projects h2{
      max-width: 90vw;
      font-size: 0.9rem;
      font-weight: 300;
    }
    #projects > div {
      display: block;
    }
  }
  



