*{
    margin: 0%;
    padding: 0%;
    font-family: 'Open Sans', sans-serif;
}

header{
    width: 100%;
    display: inline-block;
    background: #333;
    padding-bottom: 1.5%;
}

header img{
    width: 20%;
    position: relative;
    left: -15%;
}

.topnav {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding-top: 2%;
}

.topnav a {
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 1.2em;
    padding: 1% 2%;
    margin: 0.5%;
    margin-bottom: 1%;
}

.topnav a:hover {
    color: lightcoral;
    transition-duration: 0.3s;
}

.topnav a.active{
    border: solid white 1px;
}

.topnav a.active:hover{
    border: solid lightcoral 1px;
    transition-duration: 0.3s;
}